.header {
  margin-top: 40px;
  width:100%;
  height:40px;
  display:flex;
  background: black;
  padding: 20px;
  letter-spacing: 3px;
  font-family: Verdana, sans-serif;
  font-weight: 300;
  border-top: 2px solid yellow;
  border-bottom: 2px solid yellow;
  margin-bottom: 20px;
} 

.brand {
  width:50%;
  height:100px;
}

.brand-logo{
  text-decoration: none;
  color: aliceblue;
  font-size: 30px;
}

.nav{
  width:50%;
  height:100px;
  text-align: end;
  margin-top: 10px;
} 

.nav-link{
  font-size: 18px;
  color: aliceblue;
  padding: 20px;
  text-decoration: none;
}


.is-active {
  font-weight: bold;
  color: yellow;
}

.author {
  height: 400px;
  width: 300px;
  border-radius: 20px;
  
}